# Core Libraries
numpy
pandas
scipy
# Data Visualization
matplotlib
seaborn
# Machine Learning & Model Building
scikit-learn
Keras 
TensorFlow 
# Model Evaluation & Explainability
shap
lime
